* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0B498F;
    --gray-100: #C4C4C4;
    --gray-200: #00000080;
    --black: #000000;
    --white: #ffffff;
    -webkit-font-smoothing: antialiased
}

body {
    font-family: 'Poppins', sans-serif;
}

.header,
.presentation,
.about-us,
.services,
.bottom-slogan,
.footer {
    border: solid 1px red;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.bottom-slogan-container {
    background-color: #C4C4C40F;
}

.about-us,
.services,
.bottom-slogan-container,
.footer {
    margin-top: 80px;
}